<p style="color: green"><%= notice %></p>

<h1>Words</h1>

<div class="field">
  <%= link_to "New Word", new_word_path, class: "btn" %>
</div>

<table class="mt-10">
  <tr>
    <th class="border border-black p-2">Chinese</th>
    <th class="border border-black p-2">Pinyin</th>
    <th class="border border-black p-2">English</th>
  </tr>

  <% @words.each do |word| %>
    <tr>
      <td class="border border-black p-2"><%= word.chinese_simplified %></td>
      <td class="border border-black p-2"><%= word.pinyin %></td>
      <td class="border border-black p-2"><%= word.english %></td>
    </tr>
  <% end %>
</table>
