<div class="card text-center">
  <div class="w-full">
		<%= @phrase.chinese_simplified %>
  </div>
</div>

<div class="px-2">
  <div class="answers flex justify-between mx-auto mt-20">
    <% @answers.each do |answer| %>
      <%= form_for answer, data: { controller: "answers" } do |f| %>
        <%= f.hidden_field :phrase_id %>
        <%= f.hidden_field :correct %>
        <%= button_tag answer.text,
          class: "answer-button #{answer.correct ? "correct-answer" : ""}",
          data: { action: "click->answers#handleClick" } %>
      <% end %>
    <% end %>
  </div>
</div>
