<!DOCTYPE html>
<html>
  <head>
    <title>Chinese Flashcards Online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="flex justify-between mb-10">
      <div class="flex space-x-2">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
      </div>

      <div>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <div class="flex space-x-2">
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
          </div>
        <% end %>
      </div>
    </header>

    <div id="notice" class="text-red-500"><%= notice %></div>
    <div id="alert" class="text-red-500"><%= alert %></div>

    <%= yield %>
  </body>
</html>
